*
!*/

!.gitignore
!README.md
!server.js
!structure.txt
!functions.js
!make.js
!process.js
!.restart.sh

!users/.gitkeep
!snippets/**
!snippets/edit/**
!snippets/view/**
!documents/.gitkeep
!files/.gitkeep
!xi/.gitkeep
!splices/.gitkeep
!sf/.gitkeep
!data/options
!data/commands.txt
!routes/**

node_modules/*
